#formID{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    width: 450px;
    margin: auto;
    position: relative;
    top: 20em;
    border: 2px solid black;
    padding: 100px;
    border-radius: 5px;
    background-color: rgb(243, 235, 226);
}

.ibutton{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(238, 211, 35);
    width: fit-content;
    justify-self: center;
    padding: 7px 45px;
    font-weight: 700;
}

.ibutton:hover{
    background-color: rgb(218, 230, 64);
    cursor: pointer;
}

input{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black
}

.result{
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid black;
    width: 420px;
    height: 20px;
}

.div_buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

.span_buttons{
    font-size: 30px;
    font-weight: bold;
}